[v-cloak] {
  display: none;
}

html, body {
  min-height: 100vh;
}

body {
  display: flex; /*  IE need this for its 'min-height' bug  */
  flex-direction: column;
}

::selection {
  background: $color-selection;
  color: white;
}

input::placeholder{
  color: $color-gray-pre-medium !important;
  opacity: 1;
}

// *:active {
//   outline: none;
// }