[v-cloak] {
  display: none;
}

html, body, #app-wrapper { 
  min-height: 100vh;
  //height: 100%;
}

html, body {
  display: flex; /*  IE need this for its 'min-height' bug  */
  flex-direction: column;
}

::selection {
  background: $color-selection;
  color: white;
}

input::placeholder{
  color: $color-gray-pre-medium !important;
  opacity: 1;
}

*:focus {
  outline: 0;
  box-shadow: 0 0 10px $color-selection;
}