/* основной контент */
@mixin content {
  background-color: $color-backg-content;
  width: calc(100% - 60px);
  padding: 45px 30px;
  font-family: Arial;
  font-size: 1em;
  color: $color-main;

  @media (max-width: 768px) {
    flex: 100%;
  }

  @media (max-width: 400px) {
    width: calc(100% - 40px);
    padding: 35px 20px;
  }
}

/* некликабельные ссылки */
@mixin disable {
  .disable {
    pointer-events: none;
  }
}

@mixin input {
  color: $color-gray-pre-dark;
  border: 1px $color-border solid;
  padding: 10px;
  font-size: 1em;

  @media (max-width: 450px) {
    padding: 5px;
  }
}