/* основной контент */
@mixin content {
  width: calc(100% - 60px);
  height: 100%;
  min-height: 319px;

  background-color: $color-backg-content;
  padding: 45px 30px;

  font-family: Arial;
  font-size: 1em;
  color: $color-main;

  @media (max-width: 1000px) {
    min-height: 346px;
  }

  @media (max-width: 768px) {
    flex: 100%;
  }

  @media (max-width: 400px) {
    width: calc(100% - 40px);
    padding: 35px 20px;
  }
}

/* некликабельные ссылки */
@mixin disable {
  .disable {
    pointer-events: none;
  }
}

@mixin input { 
  border: 2px $color-border solid;
  padding: 10px;

  color: $color-gray-pre-dark;
  font-size: 1em;

  @media (max-width: 450px) {
    padding: 5px;
  }
}

@mixin error {
  .error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }

  .input-error {
    border: #dc3545 2px solid;
  }

  .input-success:focus {
    border: #99db42 2px solid;
  }
}