$primary-font: OpenSans-Bold, sans-serif;

$color-text-light: white;
$color-text: #bec6cf;
$color-text-dark: #808592;
$color-text-darker: #373c43;
$color-text-more-darker: #383d43;

$color-backg-menu-top: #1f2229;
$color-backg-menu-bottom: #191c24;
$color-backg-menu-active: #2a2d37;
$color-backg-right-part: #f7f8f8;

$color-payment-button-light: rgb(0,90,190);
$color-payment-button-dark: rgb(0,77,163);
$color-payment-button-light-hover: rgb(7, 68, 138);
$color-payment-button-dark-hover: rgb(6, 48, 95);

$color-stroke-dark: #242730;
$color-stroke-light: #20232b;

$color-main: #8494ab;
$color-border: #e4e9ee;